{% load static %} {%load django_vite%}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Step Weather</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="images-left">
      <img src="{% static 'images/login.jpg' %}" alt="" />
    </div>
    <div class="form">
      <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="logo" />
        <h1>StepWeather</h1>
      </div>
      <form>
        <article>Логин</article>
        <input type="text" placeholder="Введите Ваш логин" required />
        <article>Пароль</article>
        <input type="password" placeholder="Введите Ваш пароль" required />
        <button type="submit" class="button">Ввойти</button>
      </form>
      <div class="reg">
        <div>У Вас нету аккаунта?</div>
        <a href="{% url 'register' %}">Заругестрируйтесь сейчас!</a>
      </div>
    </div>
    {% vite_asset 'src/login.js' %}
  </body>
</html>
