* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Unbounded", sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #476c81;
  color: #f2f2f2;
  scroll-behavior: smooth;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1a1a1a;
  z-index: 9999;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-animation: bg 10s easy;
          animation: bg 10s easy;
}
#preloader .container {
  width: 250px;
  height: 250px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#preloader .cloud {
  width: 250px;
}
#preloader .front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  -webkit-animation: clouds 8s infinite;
          animation: clouds 8s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
#preloader .back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  -webkit-animation: clouds 12s infinite;
          animation: clouds 12s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
#preloader .right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}
#preloader .left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}
#preloader .right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}
#preloader .left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}
#preloader .sun {
  width: 120px;
  height: 120px;
  background: -webkit-gradient(linear, left top, right top, from(#fcbb04), to(#fffc00));
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}
#preloader .sunshine {
  -webkit-animation: sunshines 2s infinite;
          animation: sunshines 2s infinite;
}
@-webkit-keyframes sunshines {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes sunshines {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0;
  }
}
@-webkit-keyframes clouds {
  0% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}
@keyframes clouds {
  0% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
}

.interface {
  position: absolute;
  z-index: 2;
  width: 100%;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

nav {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .logo img {
  height: 50px;
  width: auto;
}
nav .search-container {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 200px;
  gap: 10px;
}
nav .search-container #search-btn {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  background-color: #fafafa;
}
nav .search-input {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  color: #333;
}
nav .search-input::-webkit-input-placeholder {
  color: #aaa;
  font-style: italic;
}
nav .search-input::-moz-placeholder {
  color: #aaa;
  font-style: italic;
}
nav .search-input:-ms-input-placeholder {
  color: #aaa;
  font-style: italic;
}
nav .search-input::-ms-input-placeholder {
  color: #aaa;
  font-style: italic;
}
nav .search-input::placeholder {
  color: #aaa;
  font-style: italic;
}
nav .search-input:focus {
  border: 1px solid #999;
  background-color: #f2f2f2;
}
nav .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  position: relative;
}
nav .account .buttonhover {
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  overflow: hidden;
  background: #fafafa;
}
nav .account button {
  background: none;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s easy;
  transition: all 0.3s easy;
}
nav .account button:hover {
  color: #1a1a1a;
}
nav button {
  background-color: inherit;
  color: #fafafa;
  cursor: pointer;
  position: relative;
}
nav button::after {
  position: absolute;
  z-index: 103;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fafafa;
}
nav button::after:hover {
  width: 100%;
}
nav #closeSett {
  color: #1a1a1a;
  margin-left: 130px;
  font-size: 2em;
}
nav #accSett {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 0px 20px;
  width: 200px;
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  backdrop-filter: blur(100px);
  border-radius: 30px;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-animation: fade 0.5s ease;
          animation: fade 0.5s ease;
}
header .weather-card {
  margin-top: 40px;
  padding: 30px;
  border: 1px solid #fafafa;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 500px;
  max-width: 900px;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .weather-card .infoweathercard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .weather-card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
header .weather-card #city {
  font-size: 2em;
}
header .weather-card #temp {
  font-size: 3em;
  font-weight: 800;
}
header .weather-card #description,
header .weather-card #humidity,
header .weather-card #wind {
  font-size: 2em;
}
header .weather-card #description {
  max-width: 400px;
}
header .hours {
  width: 100%;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  margin-top: 40px;
  padding: 30px;
  border: 1px solid #fafafa;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0);
  text-align: center;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 500px;
  max-width: 700px;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .hours:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
header .hours #city {
  font-size: 2rem;
}
header .hours #temp {
  font-size: 1.5em;
}
header .hours .hour-card {
  width: 100%;
  background-color: rgba(26, 26, 26, 0.3137254902);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .hours .hour-card:hover {
  -webkit-transform: translatey(-5px);
          transform: translatey(-5px);
}
header #weather-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
header #description {
  font-size: 1.2em;
  margin-top: 10px;
}

section {
  padding: 0 130px;
}

#week-forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weather-card-next-days {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fade 0.5s ease;
          animation: fade 0.5s ease;
}
.weather-card-next-days .day-card {
  margin-top: 40px;
  padding: 30px;
  backdrop-filter: blur(10px);
  border: 1px solid #fafafa;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 250px;
  max-width: 305px;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.weather-card-next-days .day-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#weather-icon {
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 0 auto;
}

#hours::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

#hours::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  border-radius: 50px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

#hours::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, right top, from(#43e97b), to(#38f9d7));
  background: linear-gradient(90deg, #43e97b, #38f9d7);
}

#hours {
  scrollbar-width: thin;
  scrollbar-color: #4facfe rgba(255, 255, 255, 0.1);
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.day-card.active {
  border: 2px solid #4facfe;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}